page-home {

}

.background {
  background-color: rgba(240, 185, 0, 0.85);

}

.margin {
  margin-top: 5%;

}

.font {
  font-size: 22px;

}

.icon-position {
  left: 90%;
  position: absolute;
}

.badge-position {
  left: 75%;
  top: 18px;
  position: absolute;
}
